:root {
    --btn-dice: 100px;
    --hover-dice: 50px;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d3436;
}

.main-container {
    border: 1px solid white;
    height: 80vh;
    position: absolute;
    top: 50%;

    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 50px;
    height: 500px;

    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

/* .main-section{
    border: 1px solid white;

    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 50px;
    height: 500px;
} */

.left-side {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 10px;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.main-dice-container {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    /* height: 80%; */
    width: 100%;
}

.nav-footer {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    width: 400px;
}

/*** Dice styles ***/
.dice-face {
    border: 1px solid #fff;
    border-radius: 5%;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-dice {
    border: 1px solid #fff;
    border-radius: 12px;
    height: 300px;
    width: 300px;
}

.dice-btn {
    border: 1px solid #fff;
    border-radius: 12px;
    height: 100px;
    width: 100px;
}

.dice-hover {
    border: 1px solid #fff;
    border-radius: 6px;
    height: 50px;
    width: 50px;
}

.dot {
    background-color: #fff;
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

.dot-hover {
    background-color: #fff;
    border-radius: 50%;
    height: 14.29px;
    width: 14.29;
}

.face1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.face2 {
    display: flex;
    justify-content: space-between;
}

.face2 > .dot2 {
    align-self: flex-end;
}

.face3 {
}

.face3 > .dot2 {
    align-self: center;
}

.face3 > .dot3 {
    align-self: flex-end;
}

.face4, .face5, .face6 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.face4 > .dot, .face5 > .dot {
    height: 60%;
    width: 60%;
}

.face4 > .dot2, .face5 > .dot3 {
    justify-self: flex-end;
}

.face4 > .dot3, .face5 > .dot4 {
    align-self: flex-end;
}

.face4 > .dot4, .face5 > .dot5 {
    align-self: flex-end;
    justify-self: flex-end;
}

/* .face5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

.face5 > .dot2 {
    position: absolute;
    top: calc(50% - (26.94% / 2));
    left: calc(50% - (26.94% / 2));
    height: 26.94%;
    width: 26.94%;
}

.face6 > .dot {
    height: 90%;
    width: 60%;
}


.face6 > .dot2, .face6 > .dot4, .face6 > .dot6 {
    justify-self: flex-end;
}

.face6 > .dot3, .face6 > .dot4 {
    align-self: center;
}

.face6 > .dot5, .face6 > .dot6 {
    align-self: flex-end;
}