:root {
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d3436;
}

.main-container {
    border: 1px solid white;
    height: 80vh;
    position: absolute;
    top: 50%;

    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 50px;
    height: 500px;

    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

/* .main-section{
    border: 1px solid white;

    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 50px;
    height: 500px;
} */

.left-side {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 10px;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.main-dice-container {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    /* height: 80%; */
    width: 100%;
}

.nav-footer {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    width: 400px;
}

/*** Dice faces ***/
.dice-face {
    border: 1px solid #fff;
    border-radius: 5%;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-dice {
    border: 1px solid #fff;
    border-radius: 12px;
    height: 300px;
    width: 300px;
}

.dice-btn {
    background-color: #2d3436;
    border: 1px solid #fff;
    border-radius: 12px;
    height: 100px;
    width: 100px;
}

.dice-hover {
    border: 1px solid #fff;
    border-radius: 6px;
    transition: 300ms;
    height: 50px;
    width: 50px;
}

.dot {
    background-color: #fff;
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

.face1 {
    align-items: center;
    justify-content: center;
}

.face2 > .dot2 {
    align-self: flex-end;
}

.face3 > .dot2 {
    align-self: center;
}

.face3 > .dot3 {
    align-self: flex-end;
}

.face4, .face5, .face6 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.face4 > .dot, .face5 > .dot {
    height: 60%;
    width: 60%;
}

.face4 > .dot2, .face5 > .dot3 {
    justify-self: flex-end;
}

.face4 > .dot3, .face5 > .dot4 {
    align-self: flex-end;
}

.face4 > .dot4, .face5 > .dot5 {
    align-self: flex-end;
    justify-self: flex-end;
}

.face5 > .dot2 {
    position: absolute;
    top: calc(50% - (26.94% / 2));
    left: calc(50% - (26.94% / 2));
    height: 26.94%;
    width: 26.94%;
}

.face6 > .dot {
    height: 90%;
    width: 60%;
}


.face6 > .dot2, .face6 > .dot4, .face6 > .dot6 {
    justify-self: flex-end;
}

.face6 > .dot3, .face6 > .dot4 {
    align-self: center;
}

.face6 > .dot5, .face6 > .dot6 {
    align-self: flex-end;
}

/*** Buttons styles ***/
.dice-btn:hover, .dice-hover:hover {
    box-shadow: 0 1px 6px #fff;
    cursor: pointer;
}

/* ***3D animation*** */
.main-dice-container {
    position: relative;
    transform: rotate(-50%, -50%);
    perspective: 2000px;
}

.main-dice__box {
    background-color: #fff;
    position: absolute;
    height: 300px;
    width: 300px;
    /* transform: rotate(-90deg); */
    transform-style: preserve-3d;
    transition: 700ms;
    /* animation: animate 5s infinite; */
    /* transform:rotateY(30deg); */
    /* transform:rotateX(-10deg); */
}

/* @keyframes animate {
    0% {
        transform: rotatex(45deg) rotateY(-45deg);
    }
    25% {
        transform: rotatex(-45deg) rotateY(-45deg);
    }
    50% {
        transform: rotatex(45deg) rotateY(-45deg);
    }
    75% {
        transform: rotatex(-45deg) rotateY(45deg);
    }
    100% {
        transform: rotatex(45deg) rotateY(-45deg);
    }
} */

.main-dice {
    background-color: #2d3436;
    position: absolute;
}

#dice-1 /*front face*/{
    /* display: none; */
    transform: translateZ(150px);
}

#dice-2 /*right*/ {
    /* display: none; */
    left: 150px;
    transform: rotateY(-90deg);
}

#dice-3 /*left*/{
    /* display: none; */
    right: 150px;
    transform: rotateY(-90deg);
}

#dice-4 /*bottom*/{
    /* display: none; */
    top: 150px;
    transform: rotateX(-90deg);
}

#dice-5 /*top*/{
    /* display: none; */
    bottom: 150px;
    transform: rotateX(-90deg);
}

#dice-6 /*back*/{
    /* display: none; */
    transform: translateZ(-150px);
}